.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #ffffff;
    --mdc-linear-progress-track-color: #ffffff91;
}

img{
    margin-block-end: 4vh;
    transform: scale(1.7);
}

ion-card-subtitle {
    margin-block-end: 2vh;
}