<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Vendedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content class="custom-card">
      <form [formGroup]="agregarForm" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-input id="email" name="email" label="Correo" label-placement="floating" fill="solid"
            formControlName="email" placeholder="Introduzca su Correo"></ion-input>
        </ion-row>
        <ion-row class="error-mesage">
          <small *ngFor="let validation of validation_messages.email">
            <div class="error" *ngIf="isSubmitted && agregarForm.get('email')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-input id="password" name="password" label="Contraseña" label-placement="floating" fill="solid"
            formControlName="password" placeholder="Introduzca su Contraseña" type="password"
            clearOnEdit="false"></ion-input>
        </ion-row>
        <ion-row class="error-mesage">
          <small *ngFor="let validation of validation_messages.password">
            <div class="error" *ngIf="isSubmitted && agregarForm.get('password')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-input id="password_conf" name="password_conf" label="Confirmar Contraseña"
            formControlName="password_conf" label-placement="floating" fill="solid"
            placeholder="Vuelva a introducir su Contraseña" type="password" clearOnEdit="false"></ion-input>
        </ion-row>
        <ion-row class="error-mesage">
          <small *ngFor="let validation of validation_messages.password_conf">
            <div class="error" *ngIf="isSubmitted && agregarForm.get('password_conf')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-button type="submit" expand="full">Registrar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>