.fkup {
    margin-block-end: 1.5vh;
    --background: none!important;
    --border-color: #ffffff;
    --color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    margin-right: 30px;

    label{
        margin-inline-end: 1vh;
    }
}