<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Listar Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let producto of Productos">
      <ion-card class="card-component">
        <ion-row (click)="showProducto(producto.id)">
          <ion-col size="3">
            <img src="/assets/Cover/img/{{producto.image}}">
          </ion-col>
          <ion-col size="9">
            <ion-card-header>
              <ion-card-title>{{ producto.name }}</ion-card-title>
              <ion-card-subtitle>{{ producto.price | currency: "CLP" }}</ion-card-subtitle>
            </ion-card-header>
          </ion-col>
        </ion-row>
        <ion-row class="buttons">
          <ion-button id="open-modal" expand="block">Modificar</ion-button>
          <ion-button class="delete-button">Eliminar</ion-button>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-content class="custom-card">

            <ion-item>
              <ion-input label="Nombre del Producto" errorText="Nombre invalido" label-placement="floating" fill="solid"
                placeholder="Introduzca el nombre del producto"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Precio" errorText="Correo invalido" label-placement="floating" fill="solid"
                placeholder="Introduzca el precio del producto"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Stock" errorText="Correo invalido" label-placement="floating" fill="solid"
                placeholder="Introduzca el stock del producto"></ion-input>
            </ion-item>

            <ion-item>
              <ion-textarea label="Descripción" errorText="Descripción invalida" label-placement="floating" fill="solid"
                placeholder="Introduzca la descripción del producto" [autoGrow]="true">
              </ion-textarea>
            </ion-item>

            <ion-item>
              <ion-textarea label="Requisitos Minimos" errorText="Requisitos invalidos" label-placement="floating"
                fill="solid" placeholder="Introduzca los Requisitos mínimos del prodcuto"
                [autoGrow]="true"></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-textarea label="Requisitos Recomendados" errorText="Requisitos invalidos" label-placement="floating"
                fill="solid" placeholder="Introduzca los Requisitos recomendados del producto"
                [autoGrow]="true"></ion-textarea>
            </ion-item>

            <ion-button class="fkup">
              <ion-icon name="attach"></ion-icon>
              <label class="myFakeUploadButton" for="myFileInput">Agregar Imagen</label>
              <input type="file" id="myFileInput">
            </ion-button>

          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>