<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Listar Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let producto of Productos; let i = index;">
      <ion-card class="card-component">
        <ion-row (click)="showProducto(producto.id)">
          <ion-col size="3">
            <img src="/assets/Cover/img/{{producto.image}}">
          </ion-col>
          <ion-col size="9">
            <ion-card-header>
              <ion-card-title>{{ producto.name }}</ion-card-title>
              <ion-card-subtitle>{{ producto.price | currency: "CLP" }}</ion-card-subtitle>
            </ion-card-header>
          </ion-col>
        </ion-row>
        <ion-row class="buttons">
          <ion-button id="open-modal-{{i}}" expand="block" (click)="openModal(true,producto.id)">Modificar</ion-button>
          <ion-button class="delete-button">Eliminar</ion-button>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-modal #modal [isOpen]="isModalOpen" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modificar Producto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-content class="custom-card">
            <form [formGroup]="modificarProdForm" (ngSubmit)="onSubmit()">
              <ion-row>
                <ion-input id="name" name="name" formControlName="name" label="Nombre del Producto"
                  label-placement="floating" fill="solid" value="{{ producto.name }}"
                  placeholder="Introduzca el nombre del producto"></ion-input>
              </ion-row>
              <ion-row>
                <small *ngFor="let validation of validation_messages.name">
                  <div class="error" *ngIf="isSubmitted && modificarProdForm.get('name')?.hasError(validation.type)">
                    {{ validation.message }}
                  </div>
                </small>
              </ion-row>

              <ion-row>
                <ion-input id="price" name="price" formControlName="price" label="Precio" label-placement="floating"
                  fill="solid" value="{{ producto.price }}" placeholder="Introduzca el precio del producto"></ion-input>
              </ion-row>
              <ion-row>
                <small *ngFor="let validation of validation_messages.price">
                  <div class="error" *ngIf="isSubmitted && modificarProdForm.get('price')?.hasError(validation.type)">
                    {{ validation.message }}
                  </div>
                </small>
              </ion-row>

              <ion-row>
                <ion-input id="stock" name="stock" formControlName="stock" label="Stock" label-placement="floating"
                  fill="solid" value="{{ producto.stock }}" placeholder="Introduzca el stock del producto"></ion-input>
              </ion-row>
              <ion-row>
                <small *ngFor="let validation of validation_messages.stock">
                  <div class="error" *ngIf="isSubmitted && modificarProdForm.get('stock')?.hasError(validation.type)">
                    {{ validation.message }}
                  </div>
                </small>
              </ion-row>

              <ion-row>
                <ion-textarea id="descripcion" name="descripcion" formControlName="descripcion" label="Descripción"
                  label-placement="floating" fill="solid" value="{{ producto.descripcion }}"
                  placeholder="Introduzca la descripción del producto" [autoGrow]="true">
                </ion-textarea>
              </ion-row>
              <ion-row>
                <small *ngFor="let validation of validation_messages.descripcion">
                  <div class="error"
                    *ngIf="isSubmitted && modificarProdForm.get('descripcion')?.hasError(validation.type)">
                    {{ validation.message }}
                  </div>
                </small>
              </ion-row>

              <ion-row>
                <ion-textarea id="req_minimo" name="req_minimo" formControlName="req_minimo" label="Requisitos Minimos"
                  label-placement="floating" value="{{ producto.req_minimo}}" fill="solid"
                  placeholder="Introduzca los Requisitos mínimos del prodcuto" [autoGrow]="true"></ion-textarea>
              </ion-row>
              <ion-row>
                <small *ngFor="let validation of validation_messages.req_minimo">
                  <div class="error"
                    *ngIf="isSubmitted && modificarProdForm.get('req_minimo')?.hasError(validation.type)">
                    {{ validation.message }}
                  </div>
                </small>
              </ion-row>

              <ion-row>
                <ion-textarea id="req_recomendado" name="req_recomendado" formControlName="req_recomendado"
                  label="Requisitos Recomendados" label-placement="floating" value="{{ producto.req_recomendado }}"
                  fill="solid" placeholder="Introduzca los Requisitos recomendados del producto"
                  [autoGrow]="true"></ion-textarea>
              </ion-row>
              <ion-row>
                <small *ngFor="let validation of validation_messages.req_recomendado">
                  <div class="error"
                    *ngIf="isSubmitted && modificarProdForm.get('descrireq_recomendadopcion')?.hasError(validation.type)">
                    {{ validation.message }}
                  </div>
                </small>
              </ion-row>

              <ion-row>
                <ion-select id="categoria" name="categoria" aria-label="Categorias" formControlName="categoria"
                  placeholder="Seleccione las categorias" [multiple]="true">
                  <ion-select-option *ngFor="let categoria of cate" value="{{ categoria.name }}">
                    {{ categoria.name}}
                  </ion-select-option>
                </ion-select>
              </ion-row>
              <ion-row>
                <small *ngFor="let validation of validation_messages.categoria">
                  <div class="error"
                    *ngIf="isSubmitted && modificarProdForm.get('categoria')?.hasError(validation.type)">
                    {{ validation.message }}
                  </div>
                </small>
              </ion-row>

              <ion-button class="fkup">
                <ion-icon name="attach"></ion-icon>
                <label class="myFakeUploadButton" for="myFileInput">Agregar Imagen</label>
                <input formControlName="img" accept="image/*" type="file" id="myFileInput">
              </ion-button>

              <small *ngFor="let validation of validation_messages.img">
                <div class="error" *ngIf="isSubmitted && modificarProdForm.get('img')?.hasError(validation.type)">
                  {{ validation.message }}
                </div>
              </small>

              <p>Nombre de Archivo: {{ producto.image}}</p>

              <ion-button expand="full" type="submit">Guardar</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>