.card-component{
    box-shadow: none;
}

.buttons{
    justify-content: end;

    .delete-button{
        --background: #8f0000!important;
        --color: #FFFFFF;
    }
}

ion-item {
    margin-block: 1vh;
}

#myFileInput {
    position: absolute;
    opacity: 0;
}
.custom-card {
    padding-top: 1.5vh;
    padding-bottom: 2.5vh;
    justify-content: start;
  
    ion-input, ion-textarea{
        margin-bottom: 1vh;
        font-size: 0.8rem;
    }
    ion-label{
        padding-right: 55px;
    }
  }
  
  .input-fill-solid.sc-ion-input-md-h {
    --padding-end: 0px;
  }