<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
  <ion-card class="custom-card" *ngFor="let com of arregloCompra">
    <ion-card-content class="card-content">
      <ion-grid>
        <ion-row class="info-row">
          <ion-label class="info-label">Fecha de Compra</ion-label>
          <ion-label class="info-value">{{com.fech_compra}}</ion-label>
        </ion-row>


        <ion-row class="info-row">
          <ion-label class="info-label">Fecha de entrega</ion-label>
          <ion-label class="info-value">{{com.fech_entrega}}</ion-label>
        </ion-row>

        <ion-row class="info-row">
          <ion-label class="info-label">ID de pedido</ion-label>
          <ion-label class="info-value">{{com.id}}</ion-label>
        </ion-row>

        <ion-row class="info-row">
          <ion-label class="info-label">Método de pago</ion-label>
          <ion-label class="info-value">WebPay</ion-label>
        </ion-row>

        <ion-row class="info-row">
          <ion-label class="info-label">Cantidad total</ion-label>
          <ion-label class="info-value">{{com.total | currency:'CLP'}}</ion-label>
        </ion-row>
      </ion-grid>
      <ion-button fill="clear" style="color: rgb(239, 150, 17);" expand="block"
        (click)="setOpen(true, com.id)">Detalles</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Detalles</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen1(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card class="detail-card">
          <ion-card-content class="card-content">
            <ion-grid>
              <ion-row class="info-row">
                <ion-label class=" info-label">Productos</ion-label>
              </ion-row>
              <ion-row class="info-row" *ngFor="let producto of arregloDetalle">
                <!-- Debo crear un nuevo grid, para ajustar la separacion vertical (es mucha) -->
                  <ion-col size="auto">
                    <img [src]="producto.foto">
                  </ion-col>
                  <ion-col size="auto">
                    <ion-row class="ion-align-items-center">
                      <div class="custom-titles">
                        <ion-card-subtitle>Producto: {{producto.nombre}}</ion-card-subtitle>
                        <ion-card-subtitle>Valor por unidad: {{producto.precio | currency:'CLP'}}</ion-card-subtitle>
                        <ion-card-subtitle>Cantidad comprada: {{producto.cantidad}}</ion-card-subtitle>
                      </div>
                    </ion-row>
                  </ion-col>
              </ion-row>

              <ion-row class="info-row infor-row2">
                <ion-label class="info-label">Fecha de Compra</ion-label>
                <ion-label class="info-value">{{compra.fech_compra}}</ion-label>
              </ion-row>

              <ion-row class="info-row infor-row2">
                <ion-label class="info-label">Fecha de Despacho</ion-label>
                <ion-label class="info-value">{{compra.fech_despacho}}</ion-label>
              </ion-row>

              <ion-row class="info-row infor-row2">
                <ion-label class="info-label">Fecha de Entrega</ion-label>
                <ion-label class="info-value">{{compra.fech_entrega}}</ion-label>
              </ion-row>

              <ion-row class="info-row infor-row2">
                <ion-label class="info-label">Costo de Despacho</ion-label>
                <ion-label class="info-value">{{compra.costo_desp}}</ion-label>
              </ion-row>

            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card class="detail-card">
          <ion-card-content>
            <ion-row class="info-row3">
              <ion-label class=" info-label">Resumen del Pedido</ion-label>
            </ion-row>
            <div class="subtotal">
              <ion-card-title>{{compra.total | currency:'CLP'}}</ion-card-title>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>