<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class="pad-t-md">
    <ion-col></ion-col>
    <ion-col class="custom-center">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <ion-row class="pad-t-sm">
    <ion-col></ion-col>
    <ion-col size="auto" class="custom-center">
      <h4>Bienvenido a SampleTitle</h4>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <ion-row class="custom-center">
    <ion-col size="auto">
      <ion-card-subtitle class="pad-xs">Los usuarios registrados pueden hacer más.</ion-card-subtitle>
      <ion-button class="pad-sm pad-b-md" fill="solid" [routerLink]="['/login']">Iniciar Sesion</ion-button>
    </ion-col>
  </ion-row>

  <ion-list lines="none">
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Mi Perfil </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-col size="auto">
          <ion-icon name="game-controller-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto"></ion-col>
        <ion-label [routerLink]="['/user']">Mi información personal</ion-label>
      </ion-item>
      <ion-item>
        <ion-col size="auto">
          <ion-icon name="game-controller-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto"></ion-col>
        <ion-label [routerLink]="['/record']">Mis Compras</ion-label>
      </ion-item>
      <ion-item>
        <ion-col size="auto">
          <ion-icon name="game-controller-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto"></ion-col>
        <ion-label [routerLink]="['/changepsswd']">Cambia la contraseña</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Gestion de Productos </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-col size="auto">
          <ion-icon name="game-controller-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto"></ion-col>
        <ion-label>Agregar producto</ion-label>
      </ion-item>
      <ion-item>
        <ion-col size="auto">
          <ion-icon name="game-controller-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto"></ion-col>
        <ion-label>Listar productos</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Administración </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-col size="auto">
          <ion-icon name="game-controller-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto"></ion-col>
        <ion-label>Agregar vendedores</ion-label>
      </ion-item>
      <ion-item>
        <ion-col size="auto">
          <ion-icon name="game-controller-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto"></ion-col>
        <ion-label>Listar usuarios</ion-label>
      </ion-item>
      <ion-item>
        <ion-col size="auto">
          <ion-icon name="game-controller-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto"></ion-col>
        <ion-label>Agregar categorias</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>