h4{
    margin-block-start: 1vh;
    margin-block-end: 0vh;
}

ion-list{
    padding-block: 0;
}

.custom-row{
    padding-bottom: 1.5vh;

    ion-card-subtitle{
        padding-bottom: 1vh;
    }
}

.custom-card {
    padding-top: 1.5vh;
    padding-bottom: 2.5vh;
    justify-content: start;

    ion-input {
        margin-bottom: 1vh;
        font-size: 0.8rem;
    }
    ion-label{
        padding-right: 55px;
    }
}

.input-fill-solid.sc-ion-input-md-h {
    --padding-end: 0px;
}

