<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contrasela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Ingresa tus datos de recuperación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <ion-row>
          <ion-input id="email" type="email" fill="solid" label="Email" labelPlacement="floating" required name="email"
            formControlName="email"></ion-input>
        </ion-row>

        <ion-row class="error-mesage">
          <small *ngFor="let validation of validation_messages.email">
            <div class="error" *ngIf="isSubmitted && registerForm.get('email')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-select aria-label="Pregunta secreta" interface="popover" placeholder="Selecciona una pregunta">
            <ion-select-option value="preg1">¿Como se llamó tu primera mascota?</ion-select-option>
            <ion-select-option value="preg2">¿Como se llama tu primera pareja?</ion-select-option>
            <ion-select-option value="preg3">¿Cual es tu modelo de tanque favorito?</ion-select-option>
          </ion-select>
        </ion-row>

        <ion-row>
          <ion-input id="resp_secreta" type="string" fill="solid" label="Respuesta" labelPlacement="floating" required
            [clearInput]="true" formControlName="resp_secreta" name="resp_secreta"></ion-input>
        </ion-row>

        <small *ngFor="let validation of validation_messages.resp_secreta">
          <div class="error" *ngIf="isSubmitted && registerForm.get('resp_secreta')?.hasError(validation.type)">
            {{ validation.message }}
          </div>
        </small>

        <div id="btn_login">
          <ion-row text-align="center">
            <ion-col size="12">
              <ion-button type="submit" fill="outline" expand="full" shape="round">Registrarse</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>