<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Listar usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-card class="card-component">
        <ion-row>
          <ion-col size="3">
            <img src="/assets/pfp.jpg">
          </ion-col>
          <ion-col size="9">
            <ion-card-header>
              <ion-card-title>Nombre del usuario</ion-card-title>
              <ion-card-subtitle>tipo de usuario: {{ selectedUserType }}</ion-card-subtitle>
            </ion-card-header>
          </ion-col>
        </ion-row>
        <ion-row class="buttons">
          <ion-button (click)="presentAlert()">Modificar</ion-button>
          <ion-button class="delete-button">Eliminar</ion-button>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-alert [isOpen]="isAlertOpen" header="Cambiar rol del usuario"
    (didDismiss)="isOpen(false)"></ion-alert>

</ion-content>