<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
  <!-- En un futuro, clickeable -->
  <ion-card>
    <ion-card-header>
      <ion-card-title><strong>Buscar Productos</strong></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Haz click aquí y descubre miles de productos de gaming únicos.
    </ion-card-content>
  </ion-card>
  <!-- Por decidir que mierda hace -->
  <hr>
  <!-- Pollo -->
  <ion-row>
  <ion-content>
    <ion-row>
      <ion-col size="6" *ngFor="let juegos of Productos">
        <ion-card class="prod-card">
          <img class="prod-img" src="/assets/Cover/{{juegos.image}}">
          <ion-card-header>
            <ion-card-title style="font-size: 2vw;">{{juegos.name}}</ion-card-title>
            <br>
            <ion-card-subtitle>{{juegos.price}}</ion-card-subtitle>
          </ion-card-header>
           
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>
  <hr>
</ion-row>
  <ion-row>
    <ion-col size="6" *ngFor="let juegos of Productos">
      <ion-card class="prod-card">
        <img alt="prod" class="prod-img" src="/assets/Cover/{{juegos.image}}" />
        <ion-card-header>
          <ion-card-title>{{juegos.name}}</ion-card-title>
          <br>
          <ion-card-subtitle>{{juegos.price}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<!--   <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Subtítulo de la tarjeta</ion-card-subtitle>
      <ion-card-title>Título de la tarjeta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Manténgase cerca del corazón de la naturaleza... y aléjese, de vez en cuando,
      a escalar una montaña o pasar una semana en el bosque. Lava tu espíritu.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-label>ion-item en una tarjeta con icono a la izquierda y botón a la derecha.</ion-label>
      <ion-button fill="outline" slot="end">Ver</ion-button>
    </ion-item>
    <ion-card-content>
      Esto es contenido, sin etiquetas de párrafo o encabezado,
      dentro de un elemento de contenido de una ion-card.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Enlace en tarjeta ion-item 1 .activated</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Enlace en tarjeta ion-item 2</ion-label>
    </ion-item>
    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Botón en tarjeta ion-item 1 .activated</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Botón en tarjeta ion-item 2</ion-label>
    </ion-item>
  </ion-card> -->