ion-content {
    position: absolute;
    z-index: 1 !important;

    ion-card-title {
        font-size: 1.3rem !important;
    }

    .multiple-card {
        ion-card-title {
            font-size: 0.9rem !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 1.5;
            max-height: 1.4em;
        }



        ion-card-subtitle {
            font-size: 1rem !important;
            margin-block-start: 0.8vh;
        }
    }
}

.card-banner {
    margin-block-start: 9vh;
}

.custom-swiper-game {

    swiper-slide {
        display: grid;
        align-items: stretch;

        ion-card-header {
            padding: 1.5vh;
        }

        ion-card-title {
            font-size: 0.9rem !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 1.5;
            max-height: 1.4em;
        }

        ion-card {
            margin-inline: 0.5vh;
        }
    }


}

.custom-swiper-categories {

    ion-card-title {
        font-size: 1rem !important;
    }

    ion-card {
        margin-inline: 0.5vh;
    }
}

.custom-list-buscador {
    position: relative;
    display: list-item;
    z-index: 2 !important;

    padding-block: 0;
    
    ion-card {
        box-shadow: none;
    }
}

.custom-item-buscador {
    z-index: 2 !important;
}