<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-center">
      <strong>
        Carrito
      </strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-row class="pad-t-md custom-center-xy custom-center">
    <img alt="Sadface" width="40%" src="assets/sadface.png" />
    <h4>Tu carrito esta vacío.</h4>
    <ion-card-subtitle>¡Busca y compra productos ahora!</ion-card-subtitle>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="pad-sm pad-b-md" disabled expand="block">Proceder al pago</ion-button>
  </ion-toolbar>
</ion-footer>