<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-input id="email" type="email" fill="solid" label="Email" labelPlacement="floating" required name="email"
            formControlName="email"></ion-input>
          <small *ngFor="let validation of validation_messages.email">
            <div class="error" *ngIf="isSubmitted && registerForm.get('email')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>
        <ion-row>
          <ion-input id="password" type="password" fill="solid" label="Contraseña" labelPlacement="floating" required
            [clearInput]="true" formControlName="password" name="password" clearOnEdit="false"></ion-input>
          <small *ngFor="let validation of validation_messages.password">
            <div class="error" *ngIf="isSubmitted && registerForm.get('password')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>
        <div id="btn_login">
          <ion-row text-align="center">
            <ion-col size="12">
              <ion-button fill="outline" expand="full" shape="round">Registrarse</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>