ion-content {

    .card-banner {
        margin-block-start: 20vh;
        padding-top: 10vh;
    }

    ion-card-title {
        font-size: 1.3rem !important;
    }

}

ion-title {
    font-size: 1.6rem !important;
    padding-inline-start: 0;
    color: #FFFFFF;
    font-weight: bold;
}

ion-card-header {
    padding-bottom: 1vh;
}