<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi información personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content class="custom-card">
      <div class="custom-label">
        <ion-label>Información Personal</ion-label>
      </div>

      <ion-item>
        <ion-col size="4"></ion-col>
        <ion-col size="4" class="center-content">
          <ion-avatar>
            <img (click)="fileUpload.click()" class="myFakeUploadButton" for="myFileInput"
              alt="Silhouette of a person's head" src="../assets/edit_profile.png" />
          </ion-avatar>
          <input #fileUpload accept="image/*" type="file" id="myFileInput" (change)="onFileSelected($event)"
            style="display: none;">
        </ion-col>
        <ion-col size=""></ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="2"></ion-col>
        <ion-col size="8" style="text-align: center;">
          <p>Cambiar foto de perfil</p>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-item>

      <ion-item>
        <ion-input label="Nombre" errorText="Nombre invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca su Nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Apellido" errorText="Apellido invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca su Apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Correo Electrónico" errorText="Correo invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca su Correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Número de telefono" errorText="Número invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca su Número de telefono"></ion-input>
      </ion-item>

      <div class="custom-label">
        <ion-label>Dirección</ion-label>
      </div>

      <ion-item>
        <ion-input label="Calle" errorText="Calle invalida" label-placement="floating" fill="solid"
          placeholder="Introduzca su Calle"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Número" errorText="Número invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca su Número de casa"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Región" errorText="Región invalida" label-placement="floating" fill="solid"
          placeholder="Introduzca la Región donde reside"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Comuna" errorText="Comuna invalida" label-placement="floating" fill="solid"
          placeholder="Introduzca la Comuna donde reside"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Codigo Postal" errorText="Codigo Postal invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca su Codigo Postal"></ion-input>
      </ion-item>

      <ion-button expand="full">Guardar Cambios</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>