.custom-card {
    padding-top: 0.8vh;
    padding-bottom: 2.5vh;
    justify-content: start;

    ion-input {
        margin-bottom: 1vh;
        font-size: 0.8rem;

    }
}

.custom-label {
    margin-top: 2vh;
    padding-block-end: 1.3vh;
}

.input-fill-solid.sc-ion-input-md-h {
    --padding-end: 0px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }