<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <ion-List>
      <ion-List>
        <ion-item>
          <ion-imput label="Usuario" placeholder="ingrese su usuario" [(ngModel)]="user1"></ion-imput>
        </ion-item>



        <ion-item>
          <ion-imput label="Clave" type="password" value="password"></ion-imput>
        </ion-item>
      </ion-List>
    </ion-List>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
