<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content class="custom-card">

      <ion-item>
        <ion-input label="Nombre del Producto" errorText="Nombre invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca el nombre del producto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Precio" errorText="Correo invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca el precio del producto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Stock" errorText="Correo invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca el stock del producto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea label="Descripción" errorText="Descripción invalida" label-placement="floating" fill="solid"
          placeholder="Introduzca la descripción del producto" [autoGrow]="true">
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-textarea label="Requisitos Minimos" errorText="Requisitos invalidos" label-placement="floating"
          fill="solid" placeholder="Introduzca los Requisitos mínimos del prodcuto" [autoGrow]="true"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-textarea label="Requisitos Recomendados" errorText="Requisitos invalidos" label-placement="floating"
          fill="solid" placeholder="Introduzca los Requisitos recomendados del producto"
          [autoGrow]="true"></ion-textarea>
      </ion-item>

      <ion-button class="fkup">
        <ion-icon name="attach"></ion-icon>
        <label class="myFakeUploadButton" for="myFileInput">Agregar Imagen</label>
        <input type="file" id="myFileInput">
      </ion-button>
      
      
      <ion-button expand="full">Guardar Cambios</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>