<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content class="custom-card">
      <form [formGroup]="agregarProdForm" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-input id="name" name="name" label="Nombre del Producto" label-placement="floating" fill="solid"
            formControlName="name" placeholder="Introduzca el nombre del producto"></ion-input>
        </ion-row>
        <ion-row class="error-mesage">
          <small *ngFor="let validation of validation_messages.name">
            <div class="error" *ngIf="isSubmitted && agregarProdForm.get('name')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-input id="price" name="price" label="Precio" label-placement="floating" fill="solid"
            formControlName="price" placeholder="Introduzca el precio del producto" type="number"></ion-input>
        </ion-row>
        <ion-row class="error-mesage">
          <small *ngFor="let validation of validation_messages.price">
            <div class="error" *ngIf="isSubmitted && agregarProdForm.get('price')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-input id="stock" name="stock" label="Stock" label-placement="floating" fill="solid"
            formControlName="stock" placeholder="Introduzca el stock del producto" type="number"></ion-input>
        </ion-row>
        <ion-row class="error-mesage">
          <small *ngFor="let validation of validation_messages.stock">
            <div class="error" *ngIf="isSubmitted && agregarProdForm.get('stock')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-textarea id="descripcion" name="descripcion" label="Descripción" label-placement="floating" fill="solid"
            formControlName="descripcion" placeholder="Introduzca la descripción del producto" [autoGrow]="true">
          </ion-textarea>
        </ion-row>
        <ion-row class="error-mesage">
          <small *ngFor="let validation of validation_messages.descripcion">
            <div class="error" *ngIf="isSubmitted && agregarProdForm.get('descripcion')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-textarea id="req_minimo" name="req_minimo" label="Requisitos Minimos" label-placement="floating"
            formControlName="req_minimo" fill="solid" placeholder="Introduzca los Requisitos mínimos del prodcuto"
            [autoGrow]="true"></ion-textarea>
        </ion-row>
        <ion-row class="error-mesage"> 
          <small *ngFor="let validation of validation_messages.req_minimo">
            <div class="error" *ngIf="isSubmitted && agregarProdForm.get('req_minimo')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-textarea id="req_recomendado" name="req_recomendado" label="Requisitos Recomendados"
            label-placement="floating" formControlName="req_recomendado" fill="solid"
            placeholder="Introduzca los Requisitos recomendados del producto" [autoGrow]="true"></ion-textarea>
        </ion-row>
        <ion-row class="error-mesage">
          <small *ngFor="let validation of validation_messages.req_recomendado">
            <div class="error" *ngIf="isSubmitted && agregarProdForm.get('req_recomendado')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-select id="categoria" name="categoria" aria-label="Categorias" formControlName="categoria"
            placeholder="Seleccione las categorias" [multiple]="true">
            <ion-select-option *ngFor="let categoria of cate" value="{{ categoria.name }}">
              {{ categoria.name}}
            </ion-select-option>
          </ion-select>
        </ion-row>
        <ion-row class="error-mesage">
          <small *ngFor="let validation of validation_messages.categoria">
            <div class="error" *ngIf="isSubmitted && agregarProdForm.get('categoria')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-button class="fkup">
            <ion-icon name="attach"></ion-icon>
            <label class="myFakeUploadButton" for="myFileInput">Agregar Imagen</label>
            <input formControlName="img" accept="image/*" type="file" id="myFileInput">
          </ion-button>
        </ion-row>
        <ion-row class="error-mesage">
          <small *ngFor="let validation of validation_messages.img">
            <div class="error" *ngIf="isSubmitted && agregarProdForm.get('img')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <p>Nombre de Archivo: {{uploadFileName}}</p>

        <ion-button expand="full" type="submit">Guardar</ion-button>
      </form>

      <ion-alert [isOpen]="isAlertOpen" header="Producto Agregado" subHeader="El prodcuto se ha agregado correctamente"
        [buttons]="alertButtons" (didDismiss)="isOpen(false)"></ion-alert>

    </ion-card-content>
  </ion-card>
</ion-content>