<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content class="custom-card">

      <ion-item>
        <ion-input label="Nombre del Producto" errorText="Nombre invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca el nombre del producto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Precio" errorText="Correo invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca el precio del producto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Stock" errorText="Correo invalido" label-placement="floating" fill="solid"
          placeholder="Introduzca el stock del producto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea label="Descripción" errorText="Descripción invalida" label-placement="floating" fill="solid"
          placeholder="Introduzca el stock del producto" [autoGrow]="true">
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-textarea label="Requisitos Minimos" errorText="Requisitos invalidos" label-placement="floating"
          fill="solid" placeholder="Introduzca los Requisitos Minimos para jugar el producto"
          [autoGrow]="true"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-textarea label="Requisitos Recomendados" errorText="Requisitos invalidos" label-placement="floating"
          fill="solid" placeholder="Introduzca los Requisitos que serán recomendados" [autoGrow]="true"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-col>
          <ion-row>
            <ion-label> Imagen</ion-label>
          </ion-row>
          <ion-row>
            <ion-label> [Input de imagen] </ion-label>
          </ion-row>
        </ion-col>
      </ion-item>

      <ion-button class="pad-sm" shape="round">Agregar Producto</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>